.highlightSection{
  display: flex;
  flex-direction: row;
  padding: 52px 144px;
  gap: 50px;
  justify-content: space-between;
}


.highlightContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  p{
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
