<section class="clientsSection">
  <div class="infoContainer">
    <h2>
      Our clients
    </h2>
    <p>
      We have been working with some Fortune 500+ clients
    </p>
  </div>
  <div class="logosContainer">
    <img ngSrc="client1.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client2.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client3.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client4.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client5.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client6.png" width="48" height="48" priority="false" loading="lazy"/>
    <img ngSrc="client3.png" width="48" height="48" priority="false" loading="lazy"/>
  </div>
</section>
